
.container{
  position: relative;
  padding-bottom: 180px;
  margin-bottom: 290px;
  padding-top: 50px;
  height: 550px;

}
.title {
  align-content: center;
  text-align: center;
  margin-top: 450px;
  
}  
h3 {
  position: relative;
  margin-bottom: 80px ;
  width: 100vw;
  font-size: 3rem;
}

.fade-in-left,
.fade-in-right {
  opacity: 0;
  transition: all 0.8s ease-in-out;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  transform: translateX(-100px);
}

.fade-in-right {
  transform: translateX(100px);
}


