@keyframes animGravity {
  0% {
    transform: translateY(-26px);
    opacity: 0;
  }
  30%, 80% {
    letter-spacing: 40px;
    padding-left: 40px;
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    letter-spacing: 35px;
    padding-left: 35px;
    transform: translateY(-4px);
    opacity: 0;
  }
}

@keyframes animDont {
  0%, 15% {
    transform: translateY(-26px);
    opacity: 0;
  }
  35%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}

@keyframes animLet {
  0%, 25% {
    transform: translateY(-26px);
    opacity: 0;
  }
  45%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}

@keyframes animGo {
  0%, 35% {
    transform: translateY(-26px);
    opacity: 0;
  }
  55%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}

.gravity-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #0C1116 0%, #090a0f 100%);
  color: #fff;
}

.horizon {
  position: absolute;
  width: 160%;
  height: 70%;
  border-radius: 100% / 100%;
  background: #038bff;
  -webkit-filter: blur(30px);
  left: 50%;
  bottom: -20%;
  margin-left: -80%;
}

.earth {
  position: absolute;
  width: 200%;
  height: 100%;
  background: black;
  border-radius: 100% / 100%;
  left: 50%;
  bottom: -50%;
  margin-left: -100%;
}

.earth:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100% / 100%;
  box-shadow: inset 0px 0px 62px 20px rgba(60, 105, 138, 0.85);
}

.earth:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100% / 100%;
  background: linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
  -webkit-filter: blur(30px);
  opacity: 0.5;
}

.title {
  position: absolute;
  font-weight: 300;
  top: 36%;
  left: 0;
  right: 0;
  margin-top: -80px;
  font-size: 130px;
  text-align: center;
  letter-spacing: 20px;
  padding-left: 20px;
  background: -webkit-linear-gradient(white, rgb(219, 221, 224), #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animGravity 6s ease;
}

.subtitle {
  position: absolute;
  font-weight: 300;
  top: 70%;
  left: 0;
  right: 0;
  font-size: 25px;
  text-align: center;
  letter-spacing: 6px;

  span {
    color: rgb(216, 216, 216);
    animation-duration: 6s;
    animation-timing-function: ease;

    &:nth-child(1) {
      animation-name: animDont;
    }

    &:nth-child(2) {
      animation-name: animLet;
    }

    &:nth-child(3) {
      animation-name: animGo;
    }
  }
}
