@use "./globalStyles.scss";

.color-navbar {
  width: calc(100% - 8px);  
}

.logo-text {
  color: var(--text-color);
  margin-left: 30px;
  transition: 0.25s;
  background: none;
  border: 1.5px solid;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 3em;
  border-radius: 8px;

  &:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover-color);
    transform: translateY(-0.25em);
    border-color: var(--hover-color);
    color: var(--text-color);
  }
}

.navbar {
  .nav-link {
    color: var(--text-color);
  }
}
#aboutMe {
    scroll-margin-top: 80px;
  }

.raise {
  transition: 0.25s;
  background: none;
  border: 1.5px solid;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 3em;
  position: relative;
  padding-right: 30px;
  margin-right: 30px;
  border-radius: 8px;

  &:hover,
  &:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover-color);
    transform: translateY(-0.25em);
    border-color: var(--hover-color);
    color: var(--text-color);
  }
}
