.skills-section {
  text-align: center;
  padding: 250px 44px;

  #skills {
    scroll-margin-top: 80px;
  }

  h2 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 70px;
    padding-bottom: 70px;
  }

  .skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px;

    img {
      width: 140px;
      height: 150px;
      transition: transform 0.3s ease;
      cursor: default;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
