$primary-text-color: var(--text-color);

.stars-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: visible;
  z-index: 0;

  .star {
    position: absolute;
    background: $primary-text-color;
    border-radius: 50%;
    animation-name: animStar;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0.8;

    &.medium {
      opacity: 0.6;
    }

    &.big {
      opacity: 0.4;
    }
  }
}

@keyframes animStar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2000px);
  }
}

#title {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: $primary-text-color;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 10px;
  z-index: 2;

  #title-1 {
    font-size: 1.8rem;
  }
  #title-2 {
    font-size: 3rem;
  }
  span {
    background: -webkit-linear-gradient($primary-text-color, #38495a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 460px) {
  #title {
    width: 100vw;
    height: 300px;
  }
  #title-1 {
    font-size: 50px;
    font-weight: 300;
  }
  #title-2 {
    margin-top: 10px;
    display: block;
    font-size: 50px;
    font-weight: 300;
  }
}
