@font-face {
  font-family: "Amaranth";
  src: url("./assets/fonts/Amaranth-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-bg: #0b0c10;
  --text-color: #f8f9fa;
  --font-main: "Amaranth", sans-serif;
  --hover-color: #0c1d54; 
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color); 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0; 
}


* {
  scrollbar-width: thin;
  scrollbar-color: var(--text-color) transparent;
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  font-family: var(--font-main);
  overflow-x: hidden;
  color: var(--text-color);
}

/* -------------NavBar--------- */

.color-navbar {
  background-color: transparent;
}

.logo-text {
  color: var(--text-color);
  margin-left: 30px;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.logo-text:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover-color);
  transform: translateY(-0.25em);
  border-color: var(--hover-color);
  color: var(--text-color);
}

.navbar .nav-link {
  color: var(--text-color);
}


.raise {
  transition: 0.25s;
  background: none;
  border: 2px solid;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover-color);
  transform: translateY(-0.25em);
  border-color: var(--hover-color);
  color: var(--text-color);
}


/* --------efecto parallax -----*/

.stars-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.star {
  position: absolute;
  background: var(--text-color);
  border-radius: 50%;
  animation-name: animStar;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.8;
}

.star.medium {
  opacity: 0.6;
}

.star.big {
  opacity: 0.4;
}

@keyframes animStar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2000px);
  }
}

#title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: var(--text-color);
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 10px;
  margin-top: -60px;
  z-index: 2;
}

#title span {
  background: -webkit-linear-gradient(var(--text-color), #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}









.fade-in-left,
.fade-in-right {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.8s ease-in-out;
}

.fade-in-left {
  transform: translateX(-100px);
}

.fade-in-right {
  transform: translateX(100px);
}

.visible {
  opacity: 1;
  transform: translateX(0);
}


/*-----scroll-arrow------- */