

@font-face {
  font-family: 'Amaranth';
  src: url('./assets/fonts/Amaranth-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-bg: #0b0c10;
  --text-color: #f8f9fa;
  --font-main: 'Amaranth', sans-serif;
}

html, body {
  font-family: var(--font-main) ;
}


/* -------------NavBar--------- */

.color-navbar {
background-color: var(--color-bg);
}

.logo-text {
color: var(--text-color);
}

.navbar .nav-link {
  color: var(--text-color);
}
